@model Anubis.Web.Models.ApplicationModel
@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
@section BarButton
{
    <a class="btn" href="#appDetails" role="button" data-toggle="modal">App Details</a>
    <button class="btn" onclick="refreshMessageCounts()">Refresh</button>
    <a class="btn btn-primary" href="#addNewApplicationRegion" role="button" data-toggle="modal">Monitor new region
    </a>
}
<p>
    <a href="@Url.Action("Index","Applications")" class="btn">Back to applications</a>
</p>
@{ Html.RenderAction("Regions", new { applicationId = Model.ApplicationId }); }
<div id="addNewApplicationRegion" class="modal hide" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add new region</h3>
    </div>
    <div class="modal-body">
        <<<<<<< HEAD
        <p>
            @using (Html.BeginForm("MonitorRegion", "Application", FormMethod.Post, new { id = "newRegionForm" }))
            {
                @Html.HiddenFor(m => m.ApplicationId)
                <label>Azure Regions</label>
                <select id="selectedRegion" name="selectedRegion">
                    @*<option value="10">West US</option>
                    <option value="20">East US</option>
                    <option value="30">East Asia</option>
                    <option value="40">North Europe</option>*@
                    <option value="50">West Europe</option>
                </select>
            }
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <button type="button" class="btn btn-primary" onclick="$('#newRegionForm').submit();">
            Monitor Region</button>
        =======
      <p>
          @using (Html.BeginForm("MonitorRegion", "Application", FormMethod.Post, new { id = "newRegionForm" }))
          {
              @Html.HiddenFor(m => m.ApplicationId)
              <label>Azure Regions</label>
              <select id="selectedRegion" name="selectedRegion">
                  <option value="10">West US</option>
                  <option value="20">East US</option>
                  <option value="30">East Asia</option>
                  <option value="40">North Europe</option>
                  <option value="50">West Europe</option>
              </select>
          }
      </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <button type="button" class="btn btn-primary" onclick="$('#newRegionForm').submit();">
            Add</button>
        >>>>>>> a6a7a6cc48d7d347f473e0e76ef61f4045f10f9b
    </div>
</div>

<div id="appDetails" class="modal hide" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@Model.Name Details</h3>
    </div>
    <div class="modal-body">
        <p>
            <label>Application Code</label>
            <input type="text" readonly value="@Model.Code" /><br />
            <span style="font-size: 12px;">Use this application code when setting up your logging
        client. It enables the client to log against the correct application.
            </span>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>
