<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
@{
    var currentControllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var appsActive = currentControllerName.StartsWith("applications") ? "active" : null;
}
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#" style="margin-left: -5px;">Logging Central</a>
            <ul class="nav pull-right">
                <li class="@appsActive"><a href="@Url.Action("Index", "Applications")">Applications</a></li>
            </ul>
        </div>
    </div>
    <div style="margin-left: 30px; margin-right: 30px;">
        <div style="width: 100%; border-bottom: 1px solid #888">
            <div class="pull-left">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="pull-right">
                @RenderSection("BarButton", false)
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
