@model Anubis.Web.Models.ApplicationLogModel
@{
    ViewBag.Title = string.Format("{0} - {1}", Model.ApplicationName, Model.RegionName);
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
<style type="text/css">
    td.error {
        border-left-width: 5px;
        border-left-color: red;
    }

    td.warning {
        border-left-width: 5px;
        border-left-color: orange;
    }

    td.trace {
        border-left-width: 5px;
        border-left-color: navy;
    }

    td.debug {
        border-left-width: 5px;
        border-left-color: green;
    }
</style>
@section BarButton {
    @using (Html.BeginForm())
    {
        <button class="btn btn-primary">Refresh</button>
    }
}
<div style="margin-bottom: 10px;">
    <a class="btn" href="@Url.Action("Index", "Application", new { applicationId = Model.ApplicationId })">Back to application</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 200px;">Date</th>
            <th style="width: 100px;">Level</th>
            <th>Message</th>
            <th>Stack Trace</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.LogMessages)
        {
            <tr>
                <td>@log.Timestamp</td>
                <td class="@log.LogLevel">@log.LogLevel.ToUpper()</td>
                <td>@log.Message</td>
                <td>@log.StackTrace</td>
            </tr>
        }
    </tbody>
</table>
